# This is a sample Jupyter Notebook

Below is an example of a code cell. 
Put your cursor into the cell and press Shift+Enter to execute it and select the next one, or click 'Run Cell' button.

Press Double Shift to search everywhere for classes, files, tool windows, actions, and settings.

To learn more about Jupyter Notebooks in PyCharm, see [help](https://www.jetbrains.com/help/pycharm/ipython-notebook-support.html).
For an overview of PyCharm, go to Help -> Learn IDE features or refer to [our documentation](https://www.jetbrains.com/help/pycharm/getting-started.html).

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("data/pwd.csv")

In [19]:
df.head()

      password
0     kzde5577
1     kino3434
2    visi7k1yr
3     megzy123
4  lamborghin1

In [6]:
df.isnull().sum()

password    1
dtype: int64

In [7]:
df = df.dropna()

In [16]:
c= df.duplicated().sum()
print(c)

0

In [17]:
df=df.drop_duplicates()

In [18]:
c= df.duplicated().sum()
print(c)

0

In [20]:
df["password"] = df["password"].apply(lambda x: x.strip())
df["password"] = df["password"].apply(lambda x: x.replace(" ", ""))

In [21]:
df["Pwd_length"] = df["password"].apply(len)

In [22]:
df.head()

      password  Pwd_length
0     kzde5577           8
1     kino3434           8
2    visi7k1yr           9
3     megzy123           8
4  lamborghin1          11

In [23]:
# for counting special characters
def spec(text):
    special = 0
    for i in text:
        if not i.isalnum():
            special += 1
    return special

# for counting number in string
def number(text):
    num = 0
    for i in text:
        if i.isdigit():
            num +=1
    return num

# for counting uppercase characters
def upper(text):
    uppercase = 0
    for i in text:
        if i.isupper():
            uppercase +=1
    return uppercase

# for counting lowercase characters
def lower(text):
    lowercase = 0
    for i in text:
        if i.islower():
            lowercase +=1
    return lowercase

In [29]:
df["special_char"] = df["password"].apply(spec)
df["number"] = df["password"].apply(number)
df["upper_char"] = df["password"].apply(upper)
df["lower_char"] = df["password"].apply(lower)

In [30]:
df.head()

,password,Pwd_length,special_char,num_char,upper_char,lower_char,number
0,kzde5577,8,0,4,0,4,4
1,kino3434,8,0,4,0,4,4
2,visi7k1yr,9,0,2,0,7,2
3,megzy123,8,0,3,0,5,3
4,lamborghin1,11,0,1,0,10,1